[2022-08-17 11:58] jkorterink opened #1027 "Bug Report - Diagnostic Settings for Service Bus missing categories"
**Describe the bug**
Built-in policy definition "Deploy Diagnostic Settings for Service Bus to Log Analytics workspace" (04d53d87-841c-4f23-8a5b-21564380b55e) is missing 2 log categories:

- Runtime Audit Logs
- Application Metrics Logs

So this policy never gets compliant.

**Steps to reproduce**

1. Assign policy "Deploy Diagnostic Settings for Service Bus to Log Analytics workspace"
2. Deploy a

[2022-08-17 12:14] #1027 closed

[2022-08-23 09:28] jtracey93 commented on #1024
This was fixed in #992

[2022-08-23 09:28] #1024 closed

[2022-08-23 09:34] jtracey93 commented on #1019
Hey @JimmyKarlsson112,

Great minds think alike, thanks for logging this request. This is something we already have on our internal backlog to look at when Update Center goes GA.

[2022-08-23 09:38] jtracey93 commented on #1023
Hey @joshuadmatthews,

You are indeed correct, only permissions on the sub and management group is required here.

Do you want to put a PR in to update the doc you referenced to update it?

![image](https://user-images.githubusercontent.com/41163455/186125842-bdadb6f6-5869-40fd-809e-9790d527b030.png)

[2022-08-23 09:41] jtracey93 commented on #1025
Hi @joshuadmatthews,

Have you seen and read the tailoring guidance we have in CAF: https://aka.ms/alz/tailoring ? This is a good starting point.

If you could share some more information on the requirements, we may be able to assist you further? Also are you working with any contacts from Microsoft for your organization?

[2022-08-23 10:02] jtracey93 commented on #1018
Hi @reza8iucs,

We have guidance here on pricing: https://github.com/Azure/Enterprise-Scale/wiki/What-is-Enterprise-Scale#pricing

You can however not deploy Azure Firewall & DDoS as part of ALZ deployment and later enable if you wish in different ways, depending on how you chose to deploy in the first place. But then you will not be charged for the services.

The heart of ALZ/ESLZ which is Manage

[2022-08-23 13:17] jtracey93 commented on #1023
fixed in #1029

[2022-08-23 13:17] #1023 closed

[2022-08-30 08:24] jtracey93 commented on #1018
Stale

[2022-08-30 08:24] #1018 closed

[2022-08-30 08:24] jtracey93 commented on #1025
Stale

[2022-08-30 08:24] #1025 closed

[2022-08-30 08:25] krowlandson opened #1032 "Incorrect automation region mapping for Log Analytics workspace in East US regions"
**Describe the bug**

As described in https://github.com/Azure/terraform-azurerm-caf-enterprise-scale/issues/449, the Portal and Terraform experiences both share a common issue whereby the deployment cannot successfully link the Log Analytics workspace to the Automation Account when a user specified either the `East US` or `East US 2` regions.

This is because of the different region pairings list

[2022-08-30 08:26] krowlandson commented on #1032
cc: @autocloudarc @jtracey93

Also linking to PR: https://github.com/Azure/ALZ-Bicep/pull/97

[2022-08-30 08:34] jtracey93 commented on #1032
Thanks @krowlandson, is there a proposed fix or action here?

From my perspective, all we could do is:

1. Get the pairing enabled by engineering
2. Provide 2 region selections in the portal experience for automation and log analytics regions and let customers choose their own pairings, with a warning/note to the supported pairings doc.
3. Wait for [Update Management Center Preview](https://docs.m

[2022-08-30 08:37] krowlandson commented on #1032
As per the Terraform module, I was planning to have the deployment template automatically set the correct region pairing. It's currently only these two which are different. Not ideal, but better than nothing.

[2022-08-30 08:41] jtracey93 commented on #1032
Sounds very sensible.

So if user selects `East US` or `East US 2` then auto do the mapping for them to the correct region pairings?

[2022-08-30 11:31] neok-g commented on #1011
Could you please provide an update on this one?

[2022-08-30 11:31] neok-g commented on #1005
Could you please provide an update on this one?

[2022-08-30 11:32] neok-g commented on #990
Could you please provide an update on this one?

[2022-08-30 11:34] jtracey93 commented on #1011
Hey @neok-g,

We are awaiting to review and merge PR #1022 before working on these. We hope to review and merge this PR this week.

[2022-08-30 11:34] jtracey93 commented on #1005
Hey @neok-g,

We are awaiting to review and merge PR #1022 before working on these. We hope to review and merge this PR this week.

[2022-08-30 11:34] jtracey93 commented on #990
Hey @neok-g,

We are awaiting to review and merge PR #1022 before working on these. We hope to review and merge this PR this week.

[2022-08-30 11:36] neok-g opened #1033 "[Preview]: Assign Built-In User-Assigned Managed Identity to Virtual Machines contains hardcoded location"
<p>The following policies contain a hardcoded location of 'EASTUS' which causes compliancy issues, because for some organisations this location might not be allowed: </p>
<ul>
<li><p>[Preview]: Assign Built-In User-Assigned Managed Identity to Virtual Machines </p> </li>
<li><p>[Preview]: Assign Built-In User-Assigned Managed Identity to Virtual Machine Scale Sets </p> </li>
</ul>
<p>Please make l

[2022-08-30 11:42] jtracey93 commented on #1033
Hey @neok-g,

Can you provide the definition IDs for these policies, instead of their display names so we can track down where this may need fixing?

Thanks

Jack

[2022-08-30 12:09] neok-g commented on #1033
Hi @jtracey93

Below they are:

[Preview]: Assign Built-In User-Assigned Managed Identity to Virtual Machines
/providers/Microsoft.Authorization/policyDefinitions/d367bd60-64ca-4364-98ea-276775bddd94

[Preview]: Assign Built-In User-Assigned Managed Identity to Virtual Machine Scale Sets
/providers/Microsoft.Authorization/policyDefinitions/516187d4-ef64-4a1b-ad6b-a7348502976c

[2022-08-30 14:35] jtracey93 commented on #1033
Thanks @neok-g.

These are built-in policies and ones we do not use, yet, in ALZ. (We will look to use when migrating ALZ to AMA from MMA)

Therefore, could you raise on the [Azure Policy repo](https://github.com/Azure/azure-policy)?

Also looping in @paulgrimley as this policy is related to AMA and something we need to be aware and potentially can raise to the AMA team in our conversations that a

[2022-09-01 05:41] neok-g commented on #1033
@jtracey93 Here it is: https://github.com/Azure/azure-policy/issues/1004

[2022-09-01 08:08] jtracey93 commented on #1033
Thanks @neok-g, I will close this issue as now raised upstream on the correct repo for built-ins.

However, I did speak to @paulgrimley who is currently in active discussions with the Azure Monitor PG team and will raise this to them, as when we migrate ALZ to AMA from MMA (currently planning this with the Azure Monitor PG team) we will also require the ask you have in the issue 👍

[2022-09-01 15:21] jtracey93 commented on #539
closing as duplicate of #696

[2022-09-01 15:21] #539 closed

[2022-09-01 19:42] matt-FFFFFF commented on #696
Yes. I think we should enable if we are delaying the log analytics workspace.

[2022-09-02 12:03] jtracey93 commented on #696
@matt-FFFFFF I added to all ADO iteration paths last night and we are planning the work for Bicep in Septembers sprint which @lachaves is picking up for us. So may be worth seeing if you want to work with @lachaves and get him to help with the ALZ TF version as well :)

[2022-09-02 16:14] chrisking81 opened #1034 "Deprecated policy for storage account diagnostic settings"
<p><strong>Describe the bug</strong>
We currently include a deprecated policy to set the diagnostic settings on a storage account, in the reference implementations. </p>
<p><strong>Definition ID:</strong> 6f8f98a4-f108-47cb-8e98-91a0d85cd474 </p>
<p>This has been replaced with the following 5 separate policy definitions: </p>
<ul>
<li>storage accounts (59759c62-9a22-4cdf-ae64-074495983fef) </li>
<

[2022-09-06 17:10] SharmainePopov opened #1035 "Policy Doc Updates"
<p>I'd like to see a starter pack for Azure Policy that mirrors what is achieved with the automated ALZ deployment.  Something the client can access without cruising a repo or deploying a full ALZ. Many client resources dealing with this aren't developers. Also consistency across LZ deployment options (arm blue button, terraform, bicep, pub sec etc.), not sure we get the same set from each deploym

[2022-09-06 17:30] jtracey93 commented on #1035
Hey @SharmainePopov,

We do have consistency between all ALZ implementation options as the source of truth are the policies in this repo, and we pull them from here into Terraform & Bicep implementations respectively 👍

We can certainly add a link from this page https://github.com/Azure/Enterprise-Scale/blob/main/docs/ESLZ-Policies.md to the ALZ-Bicep Custom Policy Definitions module: https://gith

[2022-09-06 19:03] SharmainePopov commented on #1035
Hi
That’s good info. I think the clients need something referenced outside the code base, to be honest. It would be great to see it in the ALZ doc set for lay (non coder) people. At least a summary of what could be done and where to go to find out how.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | ***@***.******@***.***> | 416-799-0807

From: Jack Tracey ***@***.***>
Sent: Tue

[2022-09-07 06:30] jtracey93 commented on #972
@PieterbasNagengast @pazdedav i have an exciting update to share with you. There is a new vNet portal creation experience that we have been testing with engineering that resolves this issue.

**It is now available in preview to use via https://preview.portal.azure.com**

Please test and let us know.

You should be able to create blank vNets with no subnets.

[2022-09-07 09:21] PieterbasNagengast commented on #972
Thanks @jtracey93 for mentioning! Had a quick look and looks promising! I'm able to create blank VNET's.
I'm not able to create VNET's with a NSG attached to subnet(s). wizard seems stuck on 'running validation'...?

This will, for sure, help our customers with the 'Subnets should have NSG's attached to subnets' policy enabled 👍

Would also be great to add the option to attach UDR's on subnets (fo

[2022-09-07 11:58] jtracey93 commented on #972
Hey @PieterbasNagengast, no worries at all.

I have just tested with subnets and new NSGs and it worked fine, im asking the PG on how best you can provide feedback etc.. (stay tuned)

Have also shared your UDR feedback too :)

But the blank VNET unblocks both scenarios as you can then create the UDRs, NSGs & NSGs once the vNet has been created

[2022-09-08 14:24] paulgrimley commented on #1033
Thanks for raising awareness @neok-g @jtracey93 I have shared this with the AMA lead for their awareness

[2022-09-08 14:41] shantihy opened #1040 "Bug Report - AzOps deployments failing from accelerator"
**We cannot continue the deployment code getting error**
{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The template variable 'keyVaultName' is not valid: The template function 'RESOURCEGROUP' is not expected at this location. Please see https://aka.ms/arm-template-expressions for usage details.. Please see https://aka.ms/arm-template-expressions for usage details.'."

[2022-09-08 19:07] crossitwe11 opened #1041 "Bug Report - policies failing on lite deployments"
Hi, the AdventureWorks/WingTip deployment keeps failing for me.   My correlation id is 6b27f884-c0c2-4b39-907c-b66c240759fc. The policies would not deploy like above, so I ran it again. It got past policies and now the private dns entries are failing to deploy. {
"status": "Failed",
"error": {
"code": "InvalidDeployment",
"message": "The 'location' property is not allowed for 'alz-PrivDNSLite-sout

[2022-09-09 06:39] jtracey93 commented on #902
Have seen you raised a separate issue for this which we will investigate this morning #1041

[2022-09-09 10:23] jtracey93 commented on #1040
Hey @shantihy,

Thanks for raising this bug. We have identified the fix and have tested and will merge the fix as part of #1043 hopefully later this morning👍

[2022-09-09 10:24] jtracey93 commented on #1041
Hey @crossitwe11 ,

Thanks for raising this bug. We have identified the fix and have tested and will merge the fix as part of #1043 hopefully later this morning👍

[2022-09-09 11:51] #1041 closed

[2022-09-09 11:51] #1040 closed

[2022-09-09 16:13] shantihy opened #1044 "InvalidDeploymentBug Report"
**Describe the bug*
InvalidDepolyment
**Steps to reproduce**

1. platform devops and autoamtion if we add our own SP and passwords
2

**Screenshots**
![image](https://user-images.githubusercontent.com/87405430/189394649-4b828ae5-de92-42db-9cc6-c640baf6d549.png)

[2022-09-10 07:34] jtracey93 commented on #1044
Hi @shantihy,

Apologies about this, i have just fixed and test in PR #1045 should be merged soon.

Thanks

Jack

[2022-09-10 08:27] #1044 closed

[2022-09-11 07:53] jtracey93 commented on #1035
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1034
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1032
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1019
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1017
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1012
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1011
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1007
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1005
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #997
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #1000
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #990
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #987
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #983
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #976
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #975
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #972
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #964
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #951
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #945
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #902
Trigger ADO Sync 1

[2022-09-11 07:53] jtracey93 commented on #888
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #884
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #882
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #881
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #860
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #854
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #851
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #832
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #898
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #787
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #776
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #750
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #747
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #736
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #735
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #729
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #725
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #707
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #706
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #702
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #696
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #695
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #694
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #686
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #675
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #674
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #672
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #662
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #655
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #646
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #645
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #642
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #628
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #545
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #478
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #605
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #415
Trigger ADO Sync 1

[2022-09-11 07:54] jtracey93 commented on #244
Trigger ADO Sync 1

[2022-09-11 07:55] jtracey93 commented on #1035
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1034
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1032
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1019
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1017
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1012
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1011
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1007
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1005
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #997
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #1000
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #990
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #987
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #983
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #976
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #975
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #972
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #964
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #951
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #945
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #902
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #888
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #884
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #882
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #881
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #860
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #854
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #851
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #832
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #898
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #787
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #776
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #750
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #747
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #736
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #735
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #729
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #725
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #707
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #706
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #702
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #696
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #695
Trigger ADO Sync 2

[2022-09-11 07:55] jtracey93 commented on #694
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #686
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #675
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #674
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #672
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #662
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #655
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #646
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #645
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #642
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #628
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #545
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #478
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #605
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #415
Trigger ADO Sync 2

[2022-09-11 07:56] jtracey93 commented on #244
Trigger ADO Sync 2

[2022-09-11 09:04] jtracey93 commented on #1035
Trigger ADO Sync - Re-assigning to @{assignees=System.Object[]; url=https://github.com/Azure/Enterprise-Scale/issues/1035}.assignees[0].login to Ensure ADO Sync Assignee Take Place

[2022-09-11 09:04] jtracey93 commented on #1034
Trigger ADO Sync - Re-assigning to @{assignees=System.Object[]; url=https://github.com/Azure/Enterprise-Scale/issues/1034}.assignees[0].login to Ensure ADO Sync Assignee Take Place

[2022-09-11 09:08] jtracey93 commented on #1035
Trigger ADO Sync - Re-assigning to jtracey93 to Ensure ADO Sync Assignee Take Place

[2022-09-11 09:08] jtracey93 commented on #1034
Trigger ADO Sync - No Current Assignee

[2022-09-11 09:10] jtracey93 commented on #1035
Trigger ADO Sync - Re-assigning to jtracey93 to Ensure ADO Sync Assignee Take Place

[2022-09-11 09:13] jtracey93 commented on #1034
Trigger ADO Sync - No Current Assignee

[2022-09-12 07:36] neok-g commented on #1011
What does this exactly mean ?

[2022-09-12 07:56] jtracey93 commented on #1011
this is some internal stuff for us syncing issues to our ADO instance. Please ignore

[2022-09-12 11:39] neok-g commented on #1011
OK. So I understand that #1022 has been merged so now all these issues are being fixed? Is there a ETC available yet?

[2022-09-12 16:35] jtracey93 commented on #1011
We are looking to get started on these soon, yes. No ETA to share at this time. But please feel free to also contribute if you have the time and wish too. If not, we will get to in the coming weeks

[2022-09-14 17:56] neok-g commented on #1011
Yes I might have time to contribute the coming days but not sure how sure how this process works.

[2022-09-14 18:16] jtracey93 commented on #1011
Hey @neok-g,

Im really sorry but ive just checked and this policy is infact a built-in policy, so please could you raise an issue on the "azure-policy" repo (https://github.com/Azure/azure-policy/issues) and link to this issue here for tracking.

Or we could consider adding a custom definition for it [here](https://github.com/Azure/Enterprise-Scale/tree/main/src/resources/Microsoft.Authorization/

[2022-09-14 18:45] neok-g commented on #1011
Created the issue: https://github.com/Azure/azure-policy/issues/1017

[2022-09-14 23:21] guidovbrakel opened #1050 "PowerPoint Enterprise Scale"
<p>For presenting enterprise scale an PowerPoint would be useful ready to download </p>

[2022-09-15 06:08] jtracey93 commented on #1050
@JefferyMitchell do we have a presentation available for general consumption in the community anywhere in CAF etc?

[2022-09-16 10:06] pazdedav opened #1053 "Bug Report - Enable DDoS Std policy requires permissions on the central plan for workload owners"
<p><strong>Describe the bug</strong>
When a workload owner of an <strong>Online LZ subscription</strong> wants to create a new Virtual Network, they get an error similar to this: </p>
<blockquote>
  <p>(LinkedAuthorizationFailed) The client 'XX' with object id 'c0602d84-4705-405c-a897-0c4718407f9b' has permission to perform action 'Microsoft.Network/virtualNetworks/write' on scope '/subscriptions/

[2022-09-16 20:28] #983 closed

[2022-09-20 21:15] JefferyMitchell commented on #1050
Hello @guidovbrakel! You can find a deck here in the Microsoft Partner Network resources.
https://assetsprod.microsoft.com/mpn/en-us/cloud-adoption-framework-ready-methodology.pptx

[2022-09-20 21:15] #1050 closed

[2022-09-21 19:22] jtracey93 commented on #1053
Hey @pazdedav,

Thanks for raising.

Couple of questions if you don't mind

1. Can you confirm the object ID of: `c0602d84-4705-405c-a897-0c4718407f9b` is the user trying to create the VNET and would be the app/workload owner for example?
2. Do you think creating a custom role definition with the below actions and assigning it over the DDoS Plan in the Connectivity Subscription is something custom

[2022-09-23 06:28] rikunarhi-cloud2 opened #1055 "Option to Enable Azure Monitor Agent (AMA) initiave"
<h3 id=communitynote>Community Note </h3>
<ul>
<li>Please vote on this issue by adding a &#128077; <a href="https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/">reaction</a> to the original issue to help the community and maintainers prioritize this request </li>
<li>Please do not leave &quot;+1&quot; or &quot;me too&quot; comments, they generate extra noise for

[2022-09-23 09:48] jtracey93 commented on #1055
Thanks for raising this @rikunarhi-cloud2,

I have transferred this to this repo as all our policies live as a source of truth in this repo and then pulled into Terraform or Bicep implementations.

We are currently working with the Azure Monitor engineering teams to plan the migration of ALZ from MMA to AMA and are nearing the point where we can begin the required work, but not just yet.

@paulgri

[2022-09-23 11:25] jtracey93 commented on #1053
Thanks @pazdedav

On the DINE side as it's a post deployment operation rather than part of the initial create operations (which happens as the user making the request) then the managed identity associated to the DINE policy would be the only identity that needs permissions.

You could also do the same for modify as a remediation task as they work the same as DINE. But the issue here is that modify

[2022-09-23 12:16] pazdedav commented on #1053
Thanks for additional input.

I misunderstood you first, but I got it now. You would like the PG to create a new built-in DINE policy that would enable a centralized DDoS plan, so we could remove the assignment of current Modify policy that is blocking users from even creating VNets. _I wonder if we are dependent on the PG here or if this could be done by the ALZ team in the same way that all othe

[2022-09-23 13:22] jtracey93 commented on #1053
The DINE policy would run all its activities as its own identity so as long as that identity alone is granted the `join` action on the DDoS plan and has permissions on the VNETs we are all good. Nothing would run as the user with DINE.

And you are right, we could investigate doing it ourselves in ALZ, but we try to avoid where possible as built-in makes life easier for all involved (us, customers

[2022-09-23 13:37] pazdedav commented on #1053
Thank you @jtracey93. I am however still struggling to see, how the "DINE route" alone would work without assigning a custom role with `join` permissions to users.

This is how I envision this workflow would work (or not):

1. A user in a landing zone (without any permissions on the DDoS plan) would create a new VNet. Let's say in the Portal. Since we would remove the current Modify policy for DDo

[2022-09-23 13:50] paulgrimley commented on #1055
@rikunarhi-cloud2 thanks for raising this, we are indeed in deep discussions (and have been for some time) with the Monitor PG on transitioning ALZ to AMA. I am hopeful we should see progress in the next few weeks as we're keen to get this switched over.

[2022-09-23 14:15] jtracey93 commented on #1053
Ah that is a very important point i glazed over @pazdedav. You are indeed correct about the note of:
![image](https://user-images.githubusercontent.com/41163455/191980469-4ed33262-3a7c-48c2-8a9f-4797335c6a84.png)

Therefore, DINE would work initially but subsequent updates to the VNET would be an issue I suspect from that note (something to test though)

 It'll all depend on how the VNET RP handle

[2022-09-23 14:43] pazdedav commented on #1053
I could try to test a scenario (without having a DINE policy in place), where I would have two users:
1. One with rights on both the LZ and DDoS plan to create the VNet and "join" it to the plan.
2. Another user with e.g. Contributor rights in the LZ but not on the DDoS plan. I would modify some properties of the VNet to see what happens.

What do you think about my last comment, @jtracey93 ?

Eve

[2022-09-23 16:08] jtracey93 commented on #1053
If you can test my suggestion 2 (that I shared above here: https://github.com/Azure/Enterprise-Scale/issues/1053#issuecomment-1254131060) around RBAC that would be great.

At least thats a workaround validated 👍

As for the DINE stuff it will be the VNET that we would do a PUT on to add the DDoS plan to the VNET. But this would also need testing. Hence my comment around the VNET RP and wondering h

[2022-09-26 14:59] jtracey93 commented on #1033
trigger sync

[2022-09-27 15:08] lachaves commented on #696
@jtracey93- As the logging module (logging.bicep) is scoped at the resourceGroup we cant include a module scoped at the MG level, so we can't use the current logging module to orchestrate the onboarding of diagnosticSettings for all MG, with how things are scoped today.
What approach should we use here, any ideas, or am I missing something?

 Note
One exception is that Bicep files with a targetSco

[2022-09-27 15:43] brunolauze opened #1057 "Append-AppService-latestTLS and others Microsoft.Web/sites/config"
We seems to have a discruptency between the latestTLS Azure Policy and usage of non web sites/config resources.
According to the documentation, the sites/config resource accepts different properties based on the value of the name property.
Therefore, only config/web should be subject to this policy. I could suggest this could be accomplished adding an "id" endsWith 'config/web' condition as well a

[2022-09-27 18:29] ctahok opened #1058 "Feature Request"
**Can you please look into developing a policy which has Azure Advisor digest emails set up to be sent to an Action Group set up by the same (or other) policy with subscription owner's email address or webhook every week?**

[2022-09-28 02:08] #787 closed

[2022-09-28 07:55] anwather opened #1060 "Bug Report: Diagnostic policies look for a hardcoded named resource"
<p>Diagnostic policies look for a hardcoded named resource. The name <code>setByPolicy</code> is hardcoded in the conditions for each diagnostic DINE policy. </p>

[2022-09-28 07:57] anwather commented on #1060
#1059

[2022-09-28 08:35] maxgaulhofer opened #1061 "Bug Report: Deploy core policy definitions to ESLZ intermediate root management group failes wite error"
<p><strong>Describe the bug</strong> </p>
<p>When deploying policy 2 &quot;Deploy core policy definitions to ESLZ intermediate root management group&quot; some policies fail to deploy </p>
<p><strong>Steps to reproduce</strong> </p>
<p>1.# Deploy core policy definitions to ESLZ intermediate root management group </p>
<p>New-AzManagementGroupDeployment -Name &quot;$($DeploymentName)-policy1&quot; <

[2022-09-28 08:45] maxgaulhofer opened #1062 "Bug Report: # Deploy policy initiative for preventing usage of public endpoint for Azure PaaS services fails"
<p><strong>Describe the bug</strong> </p>
<p>The file <code>.\eslzArm\managementGroupTemplates\policyDefinitions\DENY-PublicEndpointsPolicySetDefinition.json</code> does not exist in the repository. Possibly the documentation is not up-to-date. </p>
<p>When deploying Policy 2 </p>
<p><strong>Steps to reproduce</strong> </p>
<p>1. </p>
<pre><code>$ESLZPrefix = &quot;ESLZ&quot;
$Location = &quot;wes

[2022-09-28 10:42] jtracey93 commented on #1061
Hey @maxgaulhofer,

This is a known issue im afraid due to an eventual consistency error that we have documented here in this long running issue #902

If you follow the workaround and redploy over the top, this should resolve the issue for you 👍

Let us know if not

Thanks

Jack

[2022-09-28 10:48] jtracey93 commented on #696
Hey @lachaves, lets chat tomorrow on our sync. But as discussed on our last call, I would create a new module for the MG Diag Settings similar to [`subscriptionPlacement.bicep`](https://github.com/Azure/ALZ-Bicep/tree/main/infra-as-code/bicep/modules/subscriptionPlacement) and then create another orchestration module like [`subPlacementAll.bicep`](https://github.com/Azure/ALZ-Bicep/tree/main/infra

[2022-09-28 10:50] jtracey93 commented on #1058
Thanks @ctahok are you able to provide some screenshots that detail/show what you would like to see configured here on each subscription?

[2022-09-28 10:54] jtracey93 commented on #1062
Hey @maxgaulhofer,

Can i suggest you use the ALZ-Bicep modules instead as the ARM side of ALZ is mainly built to support the Portal Experience and isnt super friendly (as you are seeing) for deploying manually via ARM deployments (by design).

The ALZ-Bicep modules I think you will be interested in are:

- https://github.com/Azure/ALZ-Bicep/tree/main/infra-as-code/bicep/modules/policy/definitions

[2022-09-28 12:12] ctahok commented on #1058
Sure, here it is

https://i.imgur.com/3KBOgZj.png

[2022-09-28 14:30] lachaves commented on #696
Hi @jtracey93 . Yes, that is what I did, working now for both standard management groups and also custom children management groups.
Just confirmed via REST API for a custom landing zone named alz-landingzones-SAP, working fine.

GET https://management.azure.com/providers/microsoft.management/managementGroups/alz-landingzones-SAP/providers/microsoft.insights/diagnosticSettings/toLa?api-version=202

[2022-09-28 16:06] jtracey93 commented on #1058
thanks

[2022-09-28 16:22] CC-JBowley opened #1063 "Azure Firewall - Policy to deploy diagnostic settings for Firewall to Log Analytics workspace - missing category"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interest

[2022-09-28 16:24] #1062 closed

[2022-09-28 16:31] jtracey93 commented on #415
Hey just wanted to close this one out and say it is available here in ALZ-Bicep: https://github.com/Azure/ALZ-Bicep/tree/main/infra-as-code/bicep/modules/customRoleDefinitions

With this i will close this issue out

[2022-09-28 16:31] #415 closed

[2022-09-28 16:51] jtracey93 commented on #776
https://github.com/Azure/Enterprise-Scale/wiki/Deploying-Enterprise-Scale-Platform-DevOps#create-new-role-assignment-on-a-landing-zone

[2022-09-28 16:51] #776 closed

[2022-09-29 03:05] JefferyMitchell commented on #735
All items have been reviewed and updated! Thanks for the input!

[2022-09-29 03:05] #735 closed

[2022-10-03 11:38] jtracey93 commented on #1061
closing as stale

[2022-10-03 11:38] #1061 closed

[2022-10-04 14:18] paulgrimley commented on #1033
Hi @neok-g just to let you know we have tracked down the team who manages this policy and the change has been made and is currently in testing, once this has completed it will then be ready to release so hoping this won't be too long now.

Appreciate you making us aware of this and helping others avoid this issue in future 👍

[2022-10-04 14:59] birdnathan opened #1067 "Feature Request: Update Deploy-Diagnostics-LogAnalytics Policy_Set"
<h3 id=communitynote>Community Note </h3>

<ul>
<li>Please vote on this issue by adding a &#128077; <a href="https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/">reaction</a> to the original issue to help the community and maintainers prioritize this request </li>
<li>Please do not leave &quot;+1&quot; or &quot;me too&quot; comments, they generate extra noise for

[2022-10-04 15:17] jtracey93 commented on #1067
Thanks @birdnathan for the issue.

I believe this is a duplicate of #1034 so closing this one and tracking under #1034

We are just about to embark on a number of policy updates so will add this to the list 👍
CC: @paulgrimley

[2022-10-04 15:17] #1067 closed

[2022-10-04 16:00] JefferyMitchell commented on #1053
@pazdedav How did the testing go?

[2022-10-07 13:09] jfaurskov commented on #898
Closing as this is in upstream repo and is a duplicate of #478. PR for fix is in the works here #1059

[2022-10-07 13:09] #898 closed

[2022-10-07 13:11] jfaurskov commented on #1060
Closing as this is a duplicate of #478. PR for fix is in the works here #1059

[2022-10-07 13:11] #1060 closed

[2022-10-07 19:28] krowlandson opened #1073 "Review and update private DNS zones for private endpoint"
<h3 id=description>Description </h3>
<p>Since the addition of private DNS zones for private endpoint support in the ALZ Portal accelerator, the list of services supporting private endpoint has grown. </p>
<p>There also appear to be a few changes in the documented zones required for services already included in the deployment templates. </p>
<p>Having done a quick review of the latest documented DN

[2022-10-10 06:33] jtracey93 commented on #725
Hey @pkorolo,

Just picking this back up and re-triaging. Is this effectively saying that the `Deploy-Private-DNS-Zones` ALZ Custom Policy Initiative does not contain a policy for configuring blob storage private DNS zone groups?

It doesn't look like there is a built-in so we would have to work with the storage PG to get one published or create a custom one. I checked here for all the latest buil

[2022-10-10 07:37] pkorolo commented on #725
Hello @jtracey93

Indeed, some months back when I was doing some testing, the custom initiative then called "Configure Azure PaaS services to use private DNS zones" (definition: /providers/Microsoft.Management/managementGroups/<alz_root_mg>/providers/Microsoft.Authorization/policySetDefinitions/Deploy-Private-DNS-Zones ), which was a bundle of individual build-in policies (per-PaaS Service), did n

[2022-10-11 01:30] guidovbrakel opened #1076 "Policy Subnets should have a Network Security Group"
**Describe the bug**
I tried to only implement this policy definition, but it gives an error about that its not an array. I really like this policy and only wanted to deploy this specific policy definition
[code]
}

**Steps to reproduce**
Assign policy to management group.
1.
2.

**Screenshots**

[2022-10-11 07:30] jonathan-vella commented on #976
A very common and frequent ask from both customers and partners is to have Azure Bastion deployed in Hub as part of the AZLZ accelerator deployment.

Best regards,

Jonathan

________________________________
From: Jack Tracey ***@***.***>
Sent: Monday, May 23, 2022 5:38 PM
To: Azure/Enterprise-Scale ***@***.***>
Cc: Jonathan Vella ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/Enterprise-S

[2022-10-11 08:30] jtracey93 commented on #1076
Hey @guidovbrakel,

Thanks for the issue. I'm afraid my JavaScript knowledge is not that high so I can only assist here from an Azure/ARM perspective.

The individual policy definition is available here: https://github.com/Azure/Enterprise-Scale/blob/main/src/resources/Microsoft.Authorization/policyDefinitions/Deny-Subnet-Without-Nsg.json

It is also possible to deploy this policy only using the [

[2022-10-11 08:31] jtracey93 commented on #976
Thanks @jonathan-vella. What do they do around the additional RBAC requirements as documented here: https://learn.microsoft.com/en-gb/azure/cloud-adoption-framework/ready/azure-best-practices/plan-for-virtual-machine-remote-access

[2022-10-11 14:02] JefferyMitchell opened #1077 "Multiple ALZ portal accelerator deployment fail in same AAD Tenant - Bug Report"
<p><strong>Describe the bug</strong>
When deploying ALZ multiple times in the same AAD Tenant deployments fail with &quot;conflict&quot; in deployment operations due to having the same deployment name.
This can also be observed with the ALZ Bicep reference implementation.
<strong>Steps to reproduce</strong> </p>
<ol>
<li><p>Portal -
&quot;message&quot;: &quot;At least one resource deployment opera

[2022-10-11 14:08] jtracey93 commented on #1077
Okay so looking into portal now.

But ALZ-Bicep will be fixed by PR: https://github.com/Azure/ALZ-Bicep/pull/312 as related to issue https://github.com/Azure/ALZ-Bicep/issues/267

[2022-10-11 14:54] JamJarchitect commented on #1057
Thanks for raising this @brunolauze.

Just to clarify the problem statement, are you suggesting that L53 of `"equals": "Microsoft.Web/sites/config"` is not scoped down granularly enough as a `type`?

Please elaborate as much as possible so we may address this as fast as possible for you 👍

[2022-10-11 20:04] jtracey93 commented on #1077
Have raised PR to fix in #1078

[2022-10-11 20:13] jtracey93 opened #1079 "Add ALZ CAF Custom RBAC Roles To ALZ Portal Accelerator Deployment"
<h2 id=describethesolutionyoudlike>Describe the solution you'd like </h2>
<p>Add ALZ CAF Custom RBAC Roles To ALZ Portal Accelerator Deployment. Today we do this in ALZ TF &amp; <a href="https://github.com/Azure/ALZ-Bicep/tree/main/infra-as-code/bicep/modules/customRoleDefinitions/definitions">ALZ Bicep</a> but not the ALZ Portal Accelerator. </p>
<p>https://learn.microsoft.com/en-gb/azure/cloud-a

[2022-10-12 00:22] aj-msft opened #1080 "Bug Report -Existing Management Group"
<p><strong>Existing Management Group with the same name under the Root Tenant gets moved while running the Accelerator</strong> </p>
<p><strong>Steps to reproduce</strong> </p>
<ol>
<li>Create MG named &quot;ELZ-Corp&quot; under root tenant </li>
<li>Move subscriptions under the newly created MG </li>
<li>Run the Accelerator deployment and specify the prefix as ELZ. </li>
<li>Leave the existing na

[2022-10-12 06:58] dburlinson opened #1081 ""Configure Microsoft Defender for Azure Cosmos DB to be enabled" Built In Policy Does Not Exist In "Deploy Microsoft Defender for Cloud configuration" Initiative"
I notice that "Configure Microsoft Defender for Azure Cosmos DB to be enabled" built in policy does not exist in the "Deploy Microsoft Defender for Cloud configuration" initiative. It's the only one missing. Shouldn't it be added?

/providers/Microsoft.Authorization/policyDefinitions/82bf5b87-728b-4a74-ba4d-6123845cf542

[2022-10-12 07:14] #881 closed

[2022-10-12 07:14] #1077 closed

[2022-10-12 15:36] jtracey93 commented on #1081
Great spot @dburlinson.

We will get that fixed ASAP, or would you like to contribute (we love community contributions🥰)?

Should just be a PR to update this file: https://github.com/Azure/Enterprise-Scale/blob/main/src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-Config.json

As it's only supported in Azure Public today as per: https://learn.microsoft.com/en-us/azure/defende

[2022-10-13 16:42] 0shaughnessy opened #1082 "Name field in Lab request form"
<p>I think that it might be good to put a note in the lab request form to specify the name entry will be used to build actual subscription resources when it is provisioned &amp; make sure it is suitable as naming variable in Azure. My name is pretty long and has an apostrophe in it which I believe may have been stopping my provisioning from occurring. </p>

[2022-10-13 17:08] jtracey93 commented on #1082
Hey @0shaughnessy,

I take it you are an internal FTE at Microsoft. If so can you ping in the ALZ internal teams channel so we can assist you further 👍

[2022-10-13 17:08] #1082 closed

[2022-10-13 21:21] jtracey93 commented on #1080
Hey @aj-msft,

Good find.

What would you want the error message to say and where would you like it to appear?

We can then get this implemented.

We can make this a dynamic warning though it would just be a generic warning displayed all the time. As in the portal experience we cannot do any pre-validation I'm afraid. The error would look similar to this on the MG blade:
![image](https://user-imag

[2022-10-14 14:16] ahm23191 opened #1084 "IP block for Landing Zone Deployment"
Ip block of /16 is really needed for Landing Zone Deployment for Connectivity subscription or Lesser Ip block works ?

[2022-10-14 17:49] #1084 closed

[2022-10-17 15:36] jtracey93 commented on #1076
Closing as stale

[2022-10-17 22:08] dburlinson commented on #1081
Thanks Jack. Sorry for my slow reply, been a busy few days.

Please leave with me to contribute. Seems simple enough!

[2022-10-17 22:54] aj-msft commented on #1080
Hey @jtracey93

Thanks for getting back to me.

A warning along the lines stating that any existing management groups with the same name as what is specified in the Accelerator deployment would be moved to the new Landing zone would suffice if it were displayed in the validation screen.

Thanks
Ajay

[2022-10-18 07:22] jtracey93 commented on #1080
Hey @aj-msft we cannot make this appear on the validation screen, as this is a screen that is provided by the underlying service used for custom portal experiences.

However, we can make it appear on the "Azure core" tab/page, would that be sufficient?

Let us know

Thanks

Jack

[2022-10-18 07:23] jtracey93 commented on #1081
Hey @dburlinson, no worries at all. Ill assign this to you now. Please let me know if you need any assistance.

I will check back in with you in 1 week to see how you are getting on if I haven't seen a PR by then 👍

Thanks

Jack

[2022-10-19 19:10] autocloudarc commented on #1032
@jtracey93 ,

Regarding option 3 as stated below in a previous response...

...Even when this service becomes GA, the linking of the Automation Account and the Log Analytics workspace is still required to provide other Configuration Management features such as Change Tracking and Inventory management anyway, so I'm not convinced if waiting for **Update Management Center Preview** would be a viable

[2022-10-20 15:08] krowlandson commented on #1032
And thank you @autocloudarc for the additional inputs 👍🏻

[2022-10-21 09:02] zhouease opened #1089 "Landing zone template can't be run in China Azure"
In China Azure, select "deploy a customer template" and then "Azure Landing Zone" and fill in with the required info. And then select "Review + create". Then following issue pops up:
{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The template variable 'azPrivateDnsPolicyAssignment' is not valid: The language expression property 'https://management.chinacloudapi.cn' do

[2022-10-21 10:08] jtracey93 commented on #1089
Hi @zhouease,

Thanks for the issue. Unfortunately, the portal experience is not supported for Azure China.

Please deploy via https://github.com/Azure/Enterprise-Scale/blob/main/eslzArm/README-AzureChina.md

Or consider ALZ-Bicep - https://aka.ms/alz-bicep

[2022-10-21 10:08] #1089 closed

[2022-10-21 18:53] paulgrimley commented on #1058
Hi, just to let you know we are investigating this with the Advisor PG, it will take some time to have any formal timelines or commitment. As I do I will update here.

[2022-10-22 20:57] InfoSphereTechnology opened #1092 "Microsoft Azure Landing Zone Accelerator"
​I have worked with Azure on original issue: Microsoft Azure Landing Zone Accelerator.  I completed the entire build and create/verify. Receive message below

RAW
{
  "code": "InvalidTemplate",
  "message": "Deployment template validation failed: 'The deployment metadata 'SUBSCRIPTION' is not valid.'."
}

 =================================================
Regarding issues with the specifics to the

[2022-10-23 13:21] jtracey93 commented on #1081
Hey @dburlinson,

any updates on this one or anything we can do to assist?

Let us know

Thanks

Jack

[2022-10-23 13:24] jtracey93 commented on #1092
Hi @InfoSphereTechnology,

Thanks for the issue, can you confirm what options/values you are setting in the portal experience so we can try to reproduce it as its not clear on what is being set today and therefore hard to troubleshoot?

Also, when did this last happen or when did you last try the portal experience?

Finally, if you have any correlation IDs please share them 👍

Thanks

Jack

[2022-10-23 13:25] jtracey93 commented on #1080
Hey @aj-msft,

Any thoughts on my last suggestion (https://github.com/Azure/Enterprise-Scale/issues/1080#issuecomment-1281924441)?

Let us know

Thanks

Jack

[2022-10-24 09:42] JamJarchitect commented on #1057
The policy is there by design for a minimum version of TLS to be enabled on resources.

It's also part of the policy initiative here:
[Deny or Deploy and append TLS requirements and SSL enforcement on resources without Encryption in transit (azadvertizer.net)](https://www.azadvertizer.net/azpolicyinitiativesadvertizer/Enforce-EncryptTransit.html)

If you need an exemption to this policy, do so by

[2022-10-24 11:59] janegilring opened #1093 "Feature Request - Add support for Resource-specific mode for diagnostic settings/resource logs"
## Additional Related Issues

- #1283

# Context

The [documentation](https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs) also states the following:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/2039662/197518104-9ffaf2b0-1264-4721-be68-0873adbe2b13.png">

Customers wants to start leveraging the new mode so that data is written to individu

[2022-10-24 14:10] jtracey93 commented on #1093
Thanks @janegilring for the issue.

We are working closely with the Diagnostic Settings team on this and some policies as we speak. We also updated our FAQ with this here: https://github.com/Azure/Enterprise-Scale/wiki/FAQ#the-azurediagnostics-table-in-my-log-analytics-workspace-has-hit-the-500-column-limit-what-should-i-do

Stay tuned 👍

[2022-10-24 16:50] InfoSphereTechnology commented on #1092
Worked on Azure landing zone accelerator - Microsoft TrackingID# 2210070040008383
Gerald Biggs
Support Engineer
Azure | Developer
Working hours: M-F 8:00am – 5:00pm UTC-7
Manager: Gabriel Rael / [v-garael@microsoft.com](mailto:v-garael@microsoft.com)

correlation IDs
"correlationId": "32e8a5ad-a781-4c72-9ba4-ab4f4f3e200f",

------------------------------------------- RAW Error --------------------

[2022-10-24 19:52] jtracey93 commented on #1092
Hey @InfoSphereTechnology could you try setting this option to "no" and try again.

**Platform DevOps and automation**
Deploy integrated CI/CD pipeline? - set to "no"

Also to confirm you are unable to actually deploy this at all? Do you have a screenshot of the error and screen you see?

Thanks

Jack

[2022-10-24 20:50] aj-msft commented on #1080
Hi @jtracey93,

Would it be possible to add it to the tabs where Management Groups are created (Platform, Azure Core, Landing Zone etc) ?
If so, that would be great.

Regards
Ajay

[2022-10-24 23:09] dburlinson commented on #1081
Hey @jtracey93

PR coming in next day or so

I've modified these files, just need to test and check there's no other files that need updating.

- https://github.com/Azure/Enterprise-Scale/blob/main/src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-Config.json
- https://github.com/Azure/Enterprise-Scale/blob/main/docs/wiki/Whats-new.md

Thanks

Dave

[2022-10-25 08:58] #1080 closed

[2022-10-25 18:25] InfoSphereTechnology commented on #1092
Set CI/CD to 'NO"

Same results 2:20pm EST
![Screenshot 2022-10-25 142258](https://user-images.githubusercontent.com/112587639/197852030-74382e79-0eb9-439d-8fce-03aa85115080.jpg)
![Screenshot 2022-10-25 142326](https://user-images.githubusercontent.com/112587639/197852050-490a48aa-a93f-4198-9223-d2806618d11c.jpg)
![Screenshot 2022-10-25 142326](https://user-images.githubusercontent.com/112587639/1

[2022-10-25 18:28] InfoSphereTechnology commented on #1092
Set CI/CD to "NO"  Same results

{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The deployment metadata 'SUBSCRIPTION' is not valid.'."}

![Screenshot 2022-10-25 142326](https://user-images.githubusercontent.com/112587639/197852577-ed84bd8b-f64a-43bd-8348-11dddcecd46e.jpg)
![Screenshot 2022-10-25 142258](https://user-images.githubusercontent.com/112587639/197852580-06

[2022-10-26 06:57] jtracey93 commented on #1092
Hey @InfoSphereTechnology,

I managed to repro your issue and have worked out what the issue is.

You have selected to use dedicated platform subscriptions
![image](https://user-images.githubusercontent.com/41163455/197955654-a2ba82e6-72f3-45da-8694-d4b30742541c.png)

But then you have selected the same subscription for Management, Identity & Connectivity - which is not supported - they **must** b

[2022-10-26 21:11] InfoSphereTechnology commented on #1092
Thanks I will check the subscription selections. I will reply back after some testing...

[2022-10-27 11:14] endreigesund opened #1097 "Policy assignment - Configure Azure PaaS services to use private DNS zones - missing policies for many paas services"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interest

[2022-10-27 13:50] jtracey93 commented on #1097
Thanks @endreigesund (& @krowlandson) we are indeed working on this in November's sprint for ALZ/ESLZ to work out how big the gap is and what built-ins already exist that we can add to this initiative and then work with PGs to address the gaps.

Im going to close this one as its a duplicate of #725 which we will track this in 👍

[2022-10-27 13:50] #1097 closed

[2022-10-27 16:10] InfoSphereTechnology commented on #1092
AzOps - Pull: All jobs have failed
[notifications@github.com.docx](https://github.com/Azure/Enterprise-Scale/files/9881189/notifications%40github.com.docx)

I create all necessary subscriptions - Verified and deployed but failed

Azure landing zone accelerator
- Dedicated Platform for: Management, Identity and Connectivity (if not choose "Single")
- Landing Zone Subscriptions
- Decommissioned Subs

[2022-10-27 16:56] jtracey93 commented on #1092
Hey @InfoSphereTechnology,

I think a call may be the best next step to troubleshoot further here as difficult of this chat base method.

Can you email me on `jack[dot]tracey[at]microsoft[dot]com` and we can look to get something setup soon

Thanks

[2022-11-01 18:12] paulgrimley commented on #1005
@neok-g I have received a response from the Monitor team that this is by design as this is not the recommended way to ingest metrics at scale in Azure due to performance limitations. Metric API or use the new batch API can be used and there are plans to  enhance the metrics explorer https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-getting-started but no timelines currently.

[2022-11-01 18:12] #1005 closed

[2022-11-01 18:29] jtracey93 commented on #1092
Hey @InfoSphereTechnology, as discussed let us know how you get on fixing the AzOps SPN issues following the docs here https://github.com/azure/azops/wiki/prerequisites & https://github.com/Azure/Enterprise-Scale/wiki/Deploying-Enterprise-Scale-Platform-DevOps

[2022-11-02 13:13] jtracey93 opened #1101 "Move `ESLZ-Policies.md` to Wiki and Add New Page to Wiki for Deprecated Services in ALZ"
## We need to move `/docs/ESLZ-Policies.md` to the wiki as this is where the majority of our docs live.

1. Create new page in `/docs/wiki/ALZ-Policies.md`
2. Migrate content from `/docs/ESLZ-Policies.md` to this new page
    - May have to also migrate media to `/docs/wiki/media/` for this page also
3. Update Navigation Menus/Sidebars:
    - https://github.com/Azure/Enterprise-Scale/blob/main/docs

[2022-11-04 08:53] DevSecNinja opened #1104 "Feature Request - Add Azure Private DNS Resolver"
**Describe the solution you'd like**

Microsoft recently GA'ed the Azure DNS Private Resolver service: https://learn.microsoft.com/en-us/azure/dns/dns-private-resolver-overview. I would like to see this service as part of the Azure Landing Zone Architecture and as part of the Terraform Enterprise Scale module: https://github.com/Azure/terraform-azurerm-caf-enterprise-scale.

Is that on the roadmap

[2022-11-04 09:33] jtracey93 commented on #1104
Hey @DevSecNinja,

Thanks for raising this. It is indeed on our internal backlog (ADO WIT # 17235)
![image](https://user-images.githubusercontent.com/41163455/199940039-57d92819-a917-48b1-b092-dae84956e807.png)

Could you expand on what you would like to see configurable and set as defaults in the portal accelerator, Terraform & Bicep implementations? This will help us shape the work to deliver wh

[2022-11-04 10:47] DevSecNinja commented on #1104
Thanks @jtracey93 for the swift reply! Sure, let me suggest a few things:

- For lab environments (e.g. users with Visual Studio Enterprise subscriptions), the service is a bit expensive. Therefore, I suggest having it disabled by default with an option to easily enable it on hubs. In terms of the Terraform ALZ module, the configuration could be similar to the Azure Firewall that can be deployed o

[2022-11-04 11:20] DevSecNinja opened #1105 "Feature Request - Cost Management, Quotas & Budgets"
**Describe the solution you'd like**

One of the key pillars of our Well-Architected Framework is Cost Optimization. With our Enterprise Scale model, we have a great opportunity to support our customers in efficiently managing costs. I'm opening an issue to start a broader conversation on this topic.

# Quotas & Budgets

We suggest customers to consider setting up [budgets](https://learn.microsoft

[2022-11-04 11:47] jtracey93 commented on #1105
Thanks again for the feedback @DevSecNinja.

For **sub level** quota we provide a policy in ALZ that can be assigned here: https://www.azadvertizer.net/azpolicyadvertizer/Deploy-Budget.html

We are also tracking this on our sub vending modules as feature requests that we plan to implement:
- https://github.com/Azure/bicep-lz-vending/issues/4
- https://github.com/Azure/terraform-azurerm-lz-vending/

[2022-11-04 11:49] jtracey93 commented on #1104
Thanks this does indeed help and will help share the feature when we get to it in the coming months.

Thanks

Jack

cc: @krowlandson, @matt-FFFFFF, @JefferyMitchell for visibility when we get to the feature in the coming months

[2022-11-04 13:59] DevSecNinja commented on #1105
That looks good Jack, glad it's on the backlog for the LZ vending. I wasn't aware of that policy and I think most of the Terraform CAF module users as it needs to be manually assigned. Would be great if there was a definition that uses forecasted budgets to make sure the owner gets the alert based on the trend. And it would be nice if there was a parameter for it in the `configure_management_resou

[2022-11-08 11:29] kpenar-bjss opened #1111 "Unable to modify email notification severity for Defender for Cloud Bug Report"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interest

[2022-11-09 11:26] extmaper opened #1107 "🪲 Bug Report - Duplicate value in policy definition"
## Describe the bug

In policy definition https://github.com/Azure/ALZ-Bicep/blob/main/infra-as-code/bicep/modules/policy/definitions/lib/policy_definitions/policy_definition_es_Deploy-Diagnostics-Website.json#L174 there is duplicate entry of AppServiceHTTPLogs.

## To Reproduce

Open linked json file and check rows 165-168 and 173-176.

## Expected behaviour (remove rows 173-176)

One entry of th

[2022-11-09 11:39] jtracey93 commented on #1107
cc: @paulgrimley FYI, need to log a bug on backlog and associate this issue👍

Its a "bug" but not an impacting one, nothing is broken, just we have a duplicate in the if rule which needs tidying.

[2022-11-09 12:07] paulgrimley commented on #1107
Captured in backlog and ready for triage

[2022-11-09 16:02] #1101 closed

[2022-11-09 17:52] jtracey93 commented on #1092
Closing as stale

[2022-11-09 17:52] #1092 closed

[2022-11-09 18:11] InfoSphereTechnology commented on #1092
ThanksJamesOn Nov 9, 2022, at 12:52 PM, Jack Tracey ***@***.***> wrote:﻿
Closed #1092 as completed.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-09 20:55] jtracey93 opened #1112 "JT BUG TEST CONVERSION"
IGNORE ME

[2022-11-09 20:57] jtracey93 commented on #1112
new comment after changing ado type

[2022-11-10 23:24] kaevans opened #1113 "Bug Report - DMS role update fails deployment"
**Describe the bug**
Using the AdventureWorks deployment, the deployment consistently fails when trying to update the DNS zone role with "RoleAssignmentUpdateNotPermitted - Tenant ID, application ID, principal ID, and scope are not allowed to be updated".

**Steps to reproduce**

1. Deploy the AdventureWorks reference implementation.
2. Observe the deployment failure.

**Screenshots**

![image](ht

[2022-11-11 08:44] jtracey93 commented on #1113
Hey @kaevans,

This is most likely due to the fact that the environment you are deploying to has not had previous role assignments cleaned up. If you check the Connectivity Subscription and remove any role assignments that are there, likely with "identity not found" and then redeploy this should fix it for you.

Thanks

Jack

[2022-11-11 09:07] kpenar-bjss commented on #1111
Thank you for quick response @krowlandson,

I tested proposed solution:
First I excluded default:

{
    "exclude_es_root": {
        "policy_assignments": [
            "Deploy-MDFC-Config"
        ],
        "policy_definitions": [
            "Deploy-ASC-SecurityContacts"
        ],
        "policy_set_definitions": [
            "Deploy-MDFC-Config"
        ],
        "role_definitions": [],

[2022-11-11 09:39] krowlandson commented on #1111
@kpenar-bjss you shouldn't need to make any edits to the archetype for this. You only need to add your custom policy definition to your custom lib folder 👍🏻

For an environment already deployed, you may need to re-evaluate and then remediate the policy assignment.

[2022-11-11 11:11] ouartil opened #1114 "When UAE north is selected, you cannot deploy Azure Firewall, VPN GW, ER GW in availability Zones."
**Describe the bug**
We are using the Accelerator, and we are deploying in UAE North. Azs were added recently in UAE North and now Azure Firewall and VPN/ER gateways support AZs. The issue is that if you select UAE North in the Accelerator, it removes the possibility of deploying VPN/ER GWs using AZs, as well as the Azure Firewall. I am guessing someone has to change the logic in the accelerator.

[2022-11-11 15:05] #1114 closed

[2022-11-11 15:08] jtracey93 commented on #1107
Fixed in #1115

[2022-11-11 15:08] #1107 closed

[2022-11-14 14:08] chrholt opened #1117 "Azure Firewall - Policy to deploy diagnostic settings for Firewall to Log Analytics workspace - missing 'Azure Firewall Flow Trace Log' category"
### Versions
**Module**: ALZ v2.4.1
terraform-azurerm-caf-enterprise-scale/blob/main/modules/archetypes/lib/policy_definitions/policy_definition_es_deploy_diagnostics_firewall.json

### Description
There is missing a category for Azure Firewall diagnostic settings policy. The missing category is **Azure Firewall Flow Trace Log**

This category needs to be added or replace all with category group _

[2022-11-15 10:13] jtracey93 commented on #1117
Working on adding this new category in PR #1119 hopefully will be merged here later today

[2022-11-15 15:10] #1117 closed

[2022-11-16 11:28] jtracey93 commented on #1113
Closing as stale

[2022-11-16 11:28] #1113 closed

[2022-11-17 06:15] archmangler opened #1121 "Feature Request: Allow complete configuration (enable options) of Azure Defender for VMs"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interest

[2022-11-17 10:30] chrholt opened #1123 "Azure Databricks - Policy to deploy diagnostic settings for Databricks to Log analytics workspace - missing multiple log categories"
## Versions

**Module**: AZL v2.4.1
terraform-azurerm-caf-enterprise-scale/blob/main/modules/archetypes/lib/policy_definitions/policy_definition_es_deploy_diagnostics_databricks.json

## Description
There are multiple missing log categories for Azure Databrick diagnostic settings policy. The missing categories are:
- Databricks SQL Analytics
- Databricks Genie
- Databricks Global init Scripts
- Da

[2022-11-17 15:02] janegilring opened #1124 "Feature Request - Add Policy for "Deploy Diagnostics settings for Log Analytics to Log Analytics workspace""
It is possible to send diagnostic logs and metrics to for a Log Analytics workspace to a central Log Analytics workspace.

![image](https://user-images.githubusercontent.com/2039662/202480090-82948aea-ac3e-47e3-88c1-49f10cd941d7.png)

Since individual Landing Zones often deploy their own Log Analytics workspaces, it would be nice to include Log Analytics to the Azure Policy initiative _Deploy-Reso

[2022-11-17 15:16] m-haiderali opened #1125 "Bug Report"
**Describe the bug**
"alz-HubSpoke" deployment fails with status of "conflict". When dive deep it shoes that inside "Connectivity" subscription, under "[Prefix]-vnethub-[location]" resource group following two succeeds:

1. [Prefix]-azfwpolicy-[location]
2. [Prefix]-fw-[location]-pip

But following one fails with status "conflict" and error code "InternalServerError"

1. [Prefix]-hub-[location]

*

[2022-11-17 15:36] jtracey93 commented on #1124
Hey @janegilring,

Good call. Do you want to contribute this via a PR following this as an example: https://github.com/Azure/Enterprise-Scale/blob/main/src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Diagnostics-Bastion.json and then add to this initiative https://github.com/Azure/Enterprise-Scale/blob/main/src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Diagnostic

[2022-11-17 17:09] jtracey93 commented on #1125
Hey @m-haiderali,

Thanks for the issue.

Can you click into this and send a screenshot please ?
![image](https://user-images.githubusercontent.com/41163455/202511593-11cdb3d5-434c-4408-bdd7-2667300f3128.png)

[2022-11-17 17:13] janegilring commented on #1124
@jtracey93 Definitely, happy to contribute 👍

[2022-11-17 17:43] jtracey93 commented on #1124
Cool ill assign this to you, let me know if you need any support.

[2022-11-17 21:22] chrholt commented on #1123
@jtracey93 PR linked

[2022-11-18 09:30] mo-KrzysztofPenar commented on #1111
@krowlandson I have reworked my solution. Now, not excluding out of the box Deploy-MDFC-Config assignment. Instead I added new custom made definition and assignment and it is working as required. The parameter defined in assignment was email that I use as recipient of alerts.

Thank you for help

[2022-11-18 09:34] irishtechie opened #1127 "Incorrect Link Target in ALZ-Policies.md"
**Describe the bug**

Readme with Bug: [https://github.com/Azure/Enterprise-Scale/blob/main/docs/wiki/ALZ-Policies.md](https://github.com/Azure/Enterprise-Scale/blob/main/docs/wiki/ALZ-Policies.md)

Link to see complete list of built-in and custom policies on line 19 in the markdown points off to an old page which then references this page again.

**Steps to reproduce**

1. Browse to link above.
2

[2022-11-18 09:35] irishtechie commented on #1127
Created Pull Request to fix as follows: #1128

[2022-11-18 12:18] pkorolo commented on #1073
Hello @krowlandson , findings up to now, **just the ones that have relevance to ALZ RI**:

- this page (as well as the official documentation in "https://learn.microsoft.com/en-us/azure/private-link/private-endpoint-dns" ), needs a **minor** fix in "Storage Account (File)", in the sense that there is no such thing as "filesecondary"
- **Azure Batch** has indeed sifted from "privatelink.<region>.ba

[2022-11-18 12:25] pkorolo commented on #1073
Hello @krowlandson , findings up to now, just the ones that have relevance to ALZ RI:

- this page (as well as the official documentation in "https://learn.microsoft.com/en-us/azure/private-link/private-endpoint-dns" ), needs a **minor** fix in "Storage Account (File)", in the sense that there is no such thing as "filesecondary"
- **Azure Batch** has indeed sifted from "privatelink..batch.azure.co

[2022-11-18 12:27] #1127 closed

[2022-11-18 13:13] pkorolo commented on #1073
Hello @krowlandson , findings up to now, just the ones that have relevance to ALZ RI:

1. this page (as well as the official documentation in "https://learn.microsoft.com/en-us/azure/private-link/private-endpoint-dns" ), needs a minor fix in "Storage Account (File)", in the sense that there is no such thing as "filesecondary"
2. **Azure Batch** has indeed shifted from "privatelink.<region>.batch.a

[2022-11-18 15:10] m-haiderali commented on #1125
Thank you for your reply @jtracey93.
Here is the required screenshot:
![image](https://user-images.githubusercontent.com/83274089/202736729-7de8481b-a38e-49a9-a4b1-52b5f25badca.png)

[2022-11-19 13:03] m-haiderali commented on #1125
Here is the screenshot @jtracey93
![Details](https://user-images.githubusercontent.com/83274089/202852171-ded1689a-ab5a-4d0a-863a-fb7e2ec1f74e.jpeg)

[2022-11-19 13:07] jtracey93 commented on #1125
Thanks @m-haiderali

Have you been able to retry the deployment by re running the experience with the same input options and values?

[2022-11-19 13:11] m-haiderali commented on #1125
Yes i tried almost 4 times (with same input options and values) but it fails at this step every time, also as mentioned at first it failed and gave error "[Prefix]-privatedns resourceGroup not found", i created this resource group inside connectivty, it moved forward, created some resources inside the privatedns group but it is not moving forward after this.

[2022-11-19 13:33] m-haiderali commented on #1125
By the way i am using ""Enterprise-scale for small enterprises" template.

[2022-11-19 22:41] jtracey93 commented on #1125
@m-haiderali Can you advise of all the parameter inputs you are using here so we can test and try and repro?

[2022-11-20 10:47] m-haiderali commented on #1125
Apart from following everything is selected by default (Some of the followings are also default options but I mentioned anyway).

Platform subscription options = Dedicated
Customer Usage Selection Option = Enabled
Log Analytics Data Retention = 60 Days
Deploy integrated CI/CD pipeline? = No
Deploy networking topology = Hub and spoke with Azure Firewall (with default options and "Availability Zones

[2022-11-21 10:27] jtracey93 commented on #1125
@m-haiderali Can you confirm which one of these you are using please?
![image](https://user-images.githubusercontent.com/41163455/203027065-21accf64-f5d6-40cf-9041-6170a256279e.png)

As the "small enterprises" one does not have a dedicated option for platform subscriptions, so am confused here?

I would suggest the "AdventureWorks" implementation for your requirements

Let me know

[2022-11-21 11:19] #1123 closed

[2022-11-21 18:14] #1124 closed

[2022-11-22 12:44] pkorolo commented on #1073
Thank you @krowlandson for drawing my attention at **point 5 (File Sync).**
Indeed, RI does **not** need update after all for this specific (**AFS**) Service PE.
**We keep the "privatelink.afs.azure.net" deployment, and the "{region}.privatelink.afs.azure.net" is taken care by itself, at the PE implementation time - tested this in lab.**
Obviously, the **_above_** matrix needs "fixing" at this poi

[2022-11-22 12:48] jim-mclean opened #1145 "Bug Report - Invalid Deployment Locations for China DINE Policies"
A few DeployIfNotExist policies have invalid deployment locations for use in AzureChinaCloud and any resulting deployments fail due to an invalidate location

These are the ones that I caught, but there may be more:

  ~ Microsoft.Authorization/policyDefinitions/Deploy-ASC-SecurityContacts [2021-06-01]
    ~ properties.policyRule.then.details.deployment.location: "chinanorth3" => "northeurope"

[2022-11-23 12:04] pkorolo commented on #1073
Hello @kamilzzz , main zone is enough, either via policy or manual, PE creation creates both A records in main zone, "app_name.privatelink.azurewebsites.net" and "app_name.scm.privatelink.azurewebsites.net" (verified through lab)

[2022-11-24 20:41] lachaves opened #1136 "Rename Azure Security Benchmark to Microsoft Cloud Security Benchmark"
Rename Azure Security Benchmark to Microsoft Cloud Security Benchmark in ALZ Portal Accelerator.

[2022-11-25 11:52] DevSecNinja opened #1138 "Feature Request - Validate diagnostic settings"
**Describe the solution you'd like**

Recently I migrated the management subscription I use in combination with the Terraform ES module. It went surprisingly smooth, but I noticed that for some of the resources the diagnostic settings didn't change to the new Log Analytics workspace that was created. Azure Policy tells me the resources are compliant, but resources don't send their diagnostic logs

[2022-11-25 14:30] jtracey93 commented on #1138
Hey @DevSecNinja,

Great spot and this is something we are aware of.

Our long term vision, that we are actively working on, is migrating our diagnostic settings to a new built-in equivalent.

Before we invest time and effort into amending our custom policies that we provide here, we should investigate with the PG if this will be covered by a built-in soon.

@paulgrimley @krowlandson - agree?

[2022-11-25 14:35] DevSecNinja commented on #1138
Thanks @jtracey93! Interested to hear more about the built-in equivalent

[2022-11-25 14:50] paulgrimley commented on #1138
@DevSecNinja Great feedback, thanks for sharing. I will speak with the team creating the built-in policies we are looking to adopt and see if this has been considered. As things change, please keep checking the what's new page as we'll post in their updates to consume built-in which are on the horizon but not firm timescales I can confidently share at this stage.

[2022-11-25 19:53] #1136 closed

[2022-11-27 16:08] #1125 closed

[2022-11-28 16:22] paulgrimley commented on #1093
Hi @janegilring we have raised this with the respective product team owners and this is a complex operation as each RP needs to support this mode and this will take time, then once the respective RP supports the resource specific mode the Azure Policy will require supporting this (as Jack mentioned there is a parallel effort to provide built-in policies so this could form part of that work for ser

[2022-11-28 18:38] #1073 closed

[2022-11-28 22:47] pkorolo commented on #1073
Related PRs:
[Add `defaultValue` for `PrivateDnsZoneId` parameters by krowlandson · Pull Request #1133 · Azure/Enterprise-Scale (github.com)](https://github.com/Azure/Enterprise-Scale/pull/1133)
[Fix #1073 - Update Private DNS Zones for Private Link by jtracey93 · Pull Request #1141 · Azure/Enterprise-Scale (github.com)](https://github.com/Azure/Enterprise-Scale/pull/1141)
[Added new built-in Poli

[2022-11-29 03:52] anwather opened #1142 "Validate parameters for Azure Security Benchmark in TF deployment"
Parameters for the policy assignment for Deploy-ASC-Monitoring do not match parameters in the TF deployment.

## Terraform ##
[code]

## ARM ##
[code]
## Bicep ##
[code]